body {
    color: #9EE3F0;
    background: #222;
}

a {
    color: #3365FF;
}

a:hover,
a:focus {
    color: #004CFF;
}

strong {
    color: #5db5a1;
}

#contenu {
    color: #363B29;
    background: lightgrey;
    border-radius: 20px;
}

#contenu a {
    color: #332510;
}

#contenu a:hover,
#contenu a:focus {
    color: #6E5122;
}

#contenu strong {
    color: #181A12;
}

body {
    padding: 20px 50px;
}

#entete {
    padding: 20px 0;
}

#entete h1 {
    margin: 0;
}

#entete h1 img {
    float: left;
    margin: 7px 20px 10px 0;
}

#entete .sous-titre {
    margin: 4px 0 15px 0;
}

#contenu {
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#contenu> :first-child {
    margin-top: 10px;
}

#contenu p,
#contenu li {
    line-height: 1.5;
}

.caseblanc {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
    color: white;
}

.casenoire {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: black;
}

.index {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    color: #777777;
    border: 1px solid lightgrey;
    text-align: center;
}

.test {
    width: 400px;
    float: left;
}

#copyright {
    margin-left: 20%;
}