body {
    color: #9EE3F0;
    background: #222;
}

a {
    color: #3365FF;
}

a:hover,
a:focus {
    color: #004CFF;
}

strong {
    color: #5db5a1;
}

#contenu {
    color: #363B29;
    background: lightgrey;
    border-radius: 20px;
}

#contenu a {
    color: #332510;
}

#contenu a:hover,
#contenu a:focus {
    color: #6E5122;
}

#contenu strong {
    color: #181A12;
}

body {
    padding: 20px 50px;
}

#entete {
    padding: 20px 0;
}

#entete h1 {
    margin: 0;
}

#entete h1 img {
    float: left;
    margin: 7px 20px 10px 0;
}

#entete .sous-titre {
    margin: 4px 0 15px 0;
}

#contenu {
    margin-left: 20%;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#contenu> :first-child {
    margin-top: 10px;
}

#contenu p,
#contenu li {
    line-height: 1.5;
}

.caseblanc {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
    color: white;
}

.casenoire {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: black;
}

.index {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    color: #777777;
    border: 1px solid lightgrey;
    text-align: center;
}

.numerotation {
    width: 400px;
    float: left;
}

.num {
    width: 35px;
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.num2 {
    width: 35px;
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.num::before {
    content: "";
    margin-left: 49px;
}

.difficulte {
    color: black;
    font-size: 1.2em;
    font-style: italic;
}

.gras {
    font-weight: bold;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


/* css pour les checkbox */

input[type=checkbox].css-checkbox+label.css-label,
input[type=checkbox].css-checkbox+label.css-label.clr {
    padding-left: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label,
input[type=checkbox].css-checkbox+label.css-label.chk {
    background-position: 0 -30px;
}

label.css-label {
    background-image: url(images/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=submit] {
    margin-left: 150px;
}

#copyright {
    margin-left: 20%;
}